<div class="center jumbotron">
<h1>Welcome to your money.</h1>   
</div>
<h2>A budgeting app powered by the MX Platform API<h2>

<%= link_to "create account", signup_path, class: "btn btn-lg btn-primary" %>

