<h1 class = "text-left">Account details</h1>
<h2 class = "text-left">User ID: <%=current_user.user_id%></h2>
<h2 class = "text-left">Email: <%=current_user.email%></h2>
<h2 class = "text-left">Account created: <%=current_user.created_at.to_formatted_s(:long)%></h2>

