<h1> User Id: <%= current_user.user_id%>, GUID: <%= current_user.guid %> </h1>


<h2>memberships</h2>
<p>
  <%= current_user.list_members%> 
</p>
<h2>accounts</h2>
  <%= current_user.account_details("available_balance", "type", "institution_code") %> 
