<footer class="footer">
  <small>
    your money, an app by jesse quebbeman-turley  
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><a href="https://www.mx.com/products/platform-api/">powered by the MX Platform API</a></li>
    </ul>
  </nav>
</footer>
