<h1 class="text-left">Current memberships</h1>
  <% if current_user.find_members.blank? %>
    <div class ="text-left">No linked memberships!</div>
      (<div class = "in-line"><%=link_to "link memberships", 
         members_path, class: "budget-link"%></div>)
  <% else %>
    <ul class = "list-group list-group-flush">
    <%current_user.find_members.each do |member|%>
      <li class = "list-group-item" >
        <%= "#{member.name}, created at: #{member.created_at.to_datetime.to_formatted_s(:long)}, aggregated at: #{member.successfully_aggregated_at || "currently aggregating"}"%>
        </li>
    <% end %>
  <% end %>